body {
    font-family: 'Inter', sans-serif;
    
}

.container {
    display: inline-block; 
    width: 100%;
}

textarea
{
    width:100%;
    resize: none;
}

.textwrapper
{
    margin:5px 0;
    padding:3px;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 4em;
}

.black {
    font-weight: 800;
    display: inline;
}

.extralight {
    font-weight: 200;
    display: inline;
}

span.pacrat.L1 {
    font-weight: 900;
}

span.pacrat.L2 {
    font-weight: 800;
}

span.pacrat.L3 {
    font-weight: 600;
}

span.pacrat.L4 {
    font-weight: 400;
}

span.pacrat.L5 {
    font-weight: 200;
}

span.pacrat.L6 {
    font-weight: 100;
}